{namespace v=Tx_Vhs_ViewHelpers}
<div class="wrap_center">
	<h4>{zachalo_title}</h4>

	<h1>{book_name}</h1>
	<div><div style="float:left;margin-right:5px;">Главы: </div>
		<ul class="chapter_selector">
			<v:iterator.loop count="{chap_count}" iteration="chapter">
				<v:var.set name="bbb" value="{book_key}.{chapter.cycle}" />
				<f:if condition="{chap_key}=={chapter.cycle}">
					<f:then>
						<li><f:link.action class="active" controller="Bible" arguments="{trans:active_trans,zachalo:bbb}" >{chapter.cycle}</f:link.action></li>
					</f:then>
					<f:else>
						<li><f:link.action controller="Bible" arguments="{trans:active_trans,zachalo:bbb}" >{chapter.cycle}</f:link.action></li>
					</f:else>
				</f:if>
			</v:iterator.loop>
		</ul>
	</div>
	<div class="trans" style="background: #e6dec5; padding: 10px;margin:10px 0px; width: 600px; top: 0px;">Перевод: {active_trans.path}
	<f:for each="{avail_trans}" as="tr">
		<f:if condition="{active_trans} == {tr.path}">
			<f:then>
				<f:link.action controller="Bible" arguments="{trans:tr.path,zachalo:versekey}" class="active">{tr.name}</f:link.action> /
			</f:then>
			<f:else>
				<f:link.action controller="Bible" arguments="{trans:tr.path,zachalo:versekey}" >{tr.name}</f:link.action> /
			</f:else>
		</f:if>
		
	</f:for>
	</div>
	<div class="output" id="output"><f:format.html parseFuncTSPath="">{output}</f:format.html></div>
</div>
<f:if condition="{typenum} != 555">
	<ul style="overflow:auto;" class="testaments">
	<f:for each="{thebible}" key="testamentkey" as="testament">
		<li>
		<h2>{testamentkey}</h2>
		<ul class="sections">
		<f:for each="{testament}" key="sectionkey" as="section">
			<li>
			<em>{sectionkey}</em>
			<ul class="books">
			<f:for each="{section}" key="bookkey" as="book">
				<v:var.set name="bbb" value="{book.0}.1" />
				<li>
				<f:if condition="{book_key}=={book.0}">
					<f:then>
						<f:link.action class="active" controller="Bible" arguments="{zachalo:bbb}" >{bookkey}</f:link.action>
					</f:then>
					<f:else>
						<f:link.action controller="Bible" arguments="{zachalo:bbb}" >{bookkey}</f:link.action>
					</f:else>
				</f:if>
				<!--<ul>
				<v:iterator.loop count="{book.1}" iteration="chapter">
					<li><a href="http://c.psmb.ru/pravoslavnyi-kalendar/bible/book/{book.0}.{chapter.cycle}/">{chapter.cycle}</a></li>
				</v:iterator.loop>
				</ul>-->
				</li>
				
			</f:for>
			</ul>
			</li>
		</f:for>
		</ul>
		</li>
	</f:for>
	</ul>
	<div id="dialog" style="display:none;">
		<textarea></textarea>
		<p><em>Ссылка на отрывок:</em><br/>
		<input id="linkquote" readonly="readonly">
		</p>
		<!— AddThis Button BEGIN -->
		<div class="addthis_toolbox addthis_default_style ">
			<a href="http://www.addthis.com/bookmark.php?v=250&amp;pubid=dimaip" class="addthis_button_compact">Поделиться</a>
			<span class="addthis_separator">|</span>
			<a class="addthis_button_facebook" title="Поделиться"></a>
			<a class="addthis_button_livejournal" title="Поделиться"></a>
			<a class="addthis_button_vk" title="Поделиться"></a>
			<a class="addthis_button_preferred_1" title="Поделиться"></a>
			<a class="addthis_button_preferred_2" title="Поделиться"></a>
		</div>
		<script type="text/javascript">var addthis_config = {
		"data_track_clickback":true,
		"ui_language": "ru"
		};
		</script>
		<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=dimaip"></script>
		<!— AddThis Button END -->
	</div>

</f:if>
